* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}
.container {
  max-width: 1140px;
  width: 80%;
  margin: 0 auto;
}

section {
  margin: 120px 0;
}

.special-color {
  color: rgb(233, 90, 8);
}
/* header part */
.logo img {
  width: 135px;
}
nav {
  margin-top: 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links {
  display: flex;
  gap: 20px;
}
.links .menu {
  display: flex;
  gap: 15px;
}
.links .menu a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: 0.2s all;
}
.links .menu a:hover {
  color: rgb(233, 90, 8);
}
.links {
  gap: 20px;
}

.cart-info {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* banner section */

.banner {
  display: flex;
  align-items: center;
}
.banner-description,
.banner-img {
  width: 50%;
}
.banner-description h1 {
  font-size: 2.8rem;
}
.banner-description p {
  font-size: 1rem;
  margin-top: 0.5rem;
}
/* ======> Responsive Design <======= */
@media screen and (max-width: 600px) {
  .links .menu {
    display: none;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .banner-description,
  .banner-img {
    width: 100%;
    gap: 10px;
  }
}

/* mid device */

@media screen and (min-width: 600px) and (max-width: 992px) {
  .banner {
    flex-direction: column-reverse;
  }
  .banner-description,
  .banner-img {
    width: 100%;
    gap: 10px;
  }
}
